body,ul,li,p,h3,h4{padding:0;margin:0;}
img{
	display: block;
}
a{
	color: #666;
	text-decoration: none;
}
li{
	list-style: none;
}
/* 网页登录注册头部 */
.title_bac{
	width: 100%;
	border-bottom:1px solid #eee;
}
.title{
	width: 1100px;
	height: 37px;
	font-size: 12px;
	line-height: 37px;
	text-align: center;
	margin: 0 auto;
}
.title>p{
	float: left;
	overflow: hidden;

}
.title>p>i{
	float: left;
	margin-right: 20px;
	font-style: normal;
	color: #777;
}
.title>p>em{
	float: left;
	padding: 0px 10px 0px 10px;
	font-style: normal;
	color: #ddd;
}
.title>p>span{
	float: left;
	color: #666;
}

.title>p>span:hover{
	color: #FF6FA0;
}
.title>ul{
	float: right;
	overflow: hidden;
}
.title>ul>li{
	float: left;
	
}
.title>ul>li>a{
	border-right: 1px solid #eee;
	padding: 0px 8px 0px 8px;
}
.title>ul>li>a:hover{
	color: #FF6FA0;
}
.title>ul>li:last-of-type>a{
	border-right: none;
}
/* 网页头部搜索部分 */
.head{
	margin: 0 auto;
	width: 1100px;
	height: 110px;
	padding-bottom: 5px;
	position: relative;
}
.head>a{
	float: left;
}
.head>.logo{
	float: left;
	width: 235px;
	height: 100px;
	margin-top: 5px;
}
.head>.find{
	float: left;
	width: 392px;
	border: 1px solid #eee;
	margin-top: 40px;
	margin-left: 80px;
	border: 1px solid #eee;
}
.head>.find:hover{
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	border: 1px solid #C0C0C0;
}
.head>.find>input{
	height: 39px;
	width: 340px;
	border: 0;
	outline: none;
	font-size: 13px;
	padding-left: 10px;
	float: left;
	
}
.head>.find>a{
	width: 39px;
	height: 41px;
	border-left: 1px solid #eee;
	background: url(../img/search-btn.png) no-repeat 12px 15px;
	display: block;
	float: left;
}

.head>.find>.down{
	position: absolute;
	top: 82px;
	left: 315px;
	width: 350px;
	border: 1px solid #eee;
	display: none;
}
.head>.find>.down>li{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: black;
	padding-left: 20px;
	background-color: white;
}
.head>.find>.down>li:hover{
	background-color:#eee;
}
.head>.tel{
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}
.head>.cart{
	float: right;
	margin-top: 40px;
	border: 1px solid #eee;
}
.head>.cart:hover>a{
	color:#ff6fa0;
}
.head>.cart>a{
	display: block;
	font-size: 14px;
	color: #777;
	line-height: 40px;
	padding: 0px 15px 0 37px;
	background: url(../img/cart.png) no-repeat 9px 14px;
}
.head>.cart>a>span{
	color:#ff6fa0;
	font-size: 12px;
	font-weight: 900;
}

/* 网页导航栏 */
.nav_bac{
	width: 100%;
	background-color: #FF6FA0;
}
.nav{
	width: 1100px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	
}
.nav>ul{
	overflow: hidden;
}
.nav>ul>li{
	float: left;
}
.nav>ul>li>a{
	color: white;
	padding: 0 23px;
	font-weight: 900;
}
.nav>ul>.kind{
	padding-right: 12px;
	background: url(../img/white-arrow.png)no-repeat 90px center #FF9BBD;
}
.nav>ul>.center{
	float: right;
}

/* 网页尾部 */
.bottom{
	width: 1100px;
	margin: 0 auto;
	border-top: 1px solid #eee;
	overflow: hidden;
	color: #666;
	font-size: 12px;
	height: 52px;
	line-height: 52px;
}
.bottom>.left{
	float: left;
}
.bottom>.left>p{
	float: left;
	margin-left: 10px;
}
.bottom>.left>img{
	float: left;
	margin-top: 10px;
}
.bottom>.left>em{
	float: left;
	padding: 0px 10px 0px 10px;
	font-style: normal;
	color: #ddd;
}
.bottom>p{
	float: right;
	overflow: hidden;
}
.bottom>p>a{
	padding: 0px 10px;
	border-right: 1px solid #eee;
}
.bottom>p>a:last-of-type{
	border-right: none;
}
.bottom>p>a:hover{
	color: #FF6FA0;
	text-decoration: underline;
}